{% extends "layout.html" %}

{% block title %}
	Крисияна Ауто 24 :: 404 - страницата не беше намерена
{% endblock %}

{% set active_page = "404" %}

{% block body %}
    <div class="container-fluid padding">
    <div class="row text-center">
    <div class="eight-five">
        <div class="col-12">
            <h1 class="display-4">404 - страницата не беше намерена</h1>
            <hr>
        </div>
        <div class="col-12">
        <div>
            <p class="big">404</p>
            <br>
            <h3>Страницата не беше намерена</h3>
            <br>
        </div>
        </div>
    </div>
    </div>
    </div>
{% endblock %}