<!-- from home.html -->

<!--- Meet the team -->

<div class="container-fluid padding">
<div class="row text-center">
    <div class="welcome">
        <div class="col-12">
            <h1 class="display-4">Нашият екип</h1>
        </div>
        <hr>
    </div>
</div>
</div>
    
<!--- Cards -->
    
<div class="container-fluid padding">
<div class="row padding">
    <div class="col-md-4">
        <div class="spacer">
        <!--
            <img class="card-img-top" src="{{ url_for('static', filename='img/team2.png') }}">
            <div class="card-body">
                <h4 class="card-title">Мария Георгиева</h4>
                <p class="card-text">Дизайнер с креативно мислене и много идеи.</p>
            </div>
        -->
        </div>
    </div> 

    <div class="col-md-4">
        <div class="card">
            <img class="card-img-top" src="{{ url_for('static', filename='img/ivan.jpg') }}">
            <div class="card-body">
                <h4 class="card-title">Иван Иванов</h4>
                <p class="card-text">Професионалист с многогодишен опит, отдаден на работата си. Специалист в автомобилната поддръжка.</p>
            </div>
        </div>
    </div>
    
    <div class="col-md-4">
    <!--
        <div class="card">
        <img class="card-img-top" src="{{ url_for('static', filename='img/team3.png') }}">
        <div class="card-body">
            <h4 class="card-title">Краси Димитров</h4>
            <p class="card-text">Техник с петгодишен опит и желание за работа.</p>
        </div>
    -->
    </div>
</div>
</div>

<!--- Two Column Section -->