{% extends "layout.html" %}

{% set active_page = "prices" %}

{% block title %}
	Крисияна Ауто 24 :: Цени
{% endblock %}

{% block body %}
    <div class="container-fluid padding">
    <div class="row text-center">
    <div class="eight-five">
        <div class="col-12">
            <h1 class="display-4">Цени</h1>
            <hr>
            <br>
                <img class="image car-50" src="{{ url_for('static', filename='img/prices.jpg') }}">
            <br>
        </div>
        <div class="col-12">
            <div class="text">
                <p>
                    Обадете се на <b><a class="highlight" href="tel:0895308001">089 530 8001</a></b> за повече информация относно цените.
                </p>
            </div>
        </div>
    </div>
    </div>
    </div>
{% endblock %}