{% extends "layout.html" %}

{% set active_page = "services" %}

{% block title %}
	Крисияна Ауто 24 :: Услуги
{% endblock %}

{% block body %}
    <div class="container-fluid padding">
    <div class="row text-center">
    <div class="eight-five">
        <div class="col-12">
            <h1 class="display-4">Услуги</h1>
            <hr>
            <br>
                <img class="image car-50" src="{{ url_for('static', filename='img/services.jpg') }}">
            <br>
        </div>
        <div class="col-12">
        <div class="text">
            <p>
                Поддръжка на автомобили.
            </p>
            <p>
                Подмяна на всякякви части, гуми, джанти, двигатели.
            </p>
            <p>
                Двигателна, компютърна диагностика.
            </p>
            <p>
                Заваряване на цветни метали с аргон.
            </p>
            <p>
                Заварка на джанти.
            </p>
            <p>
                Пътна помощ.
            </p>
            <p>
                Плазмено рязане.
            </p>
            <p>
                Лепене на гуми.
            </p>
            <br>
            <p>
                Обадете се на <b><a class="highlight" href="tel:0895308001">089 530 8001</a></b> за повече информация.
            </p>
        </div>
        </div>
    </div>
    </div>
    </div>
{% endblock %}