{% set active_page = "terms_and_conditions" %}

{% extends "layout.html" %}
{% block title %}
	Крисияна Ауто 24 :: Общи условия
{% endblock %}
{% block body %}

<div class="container-fluid padding">
<div class="row text-center">
<div class="eight-five">
	<div class="col-12">
		<h1 class="display-4">Общи условия</h1>
		<hr>
	</div>
	<div class="col-12">
		<div class="text">
		<p>	
			Не събираме и не съхраняваме информация относно посещенията, които правите, нито предоставяме същата на трети страни.
		</p>
		<p>
			Единствената информация, която пазим е под формата на изпратените от вас имейли чрез фунционалностите на сайта. 
		</p>
		<p>	
			При ваше желание ще бъдат заличени всички изпратени от вас имейли и всичко, свързано със вас.
		</p>
			<br>
			<br>
			<br>
			<br>
			<br>
			<br>
			<br>
		</div>
	</div>
</div>
</div>
</div>

{% endblock %}